.task-container {
    width: 700px;
    min-height: 65px;
    background-color: red;
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;


}

.task-container:nth-child(3n+1) {
    background-color: #02C7F8;
}

.task-container:nth-child(3n+2) {
    background-color: #FFB300;
    ;
}

.task-container:nth-child(3n+3) {
    background-color: #FE3385;
    ;
}

.task-container.completed {
    background-color: #34195C;
    text-decoration: line-through;
    color: white;
}

.task-text {
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;

}

.task-icon-close {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;

}

.task-icon-close:hover {
    transform: scale(1.1);
}

.task-icon-edit {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;

}

.task-icon-edit:hover {
    transform: scale(1.1);
}