* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  background-color: #5D29B1;
  color: black;
  font-family: Lato, sans-serif;
  margin-top: 20px;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}

.App-task {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 40vw;
  height: 115px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2B0D57;
  color: white;
  box-shadow: 2px 2px 1px 1px rgb(210, 181, 221);
 
  
}

.image-container h1 {
  font-size: 45px;
}


.principal-list-task {
  width: 40vw;
  min-height: 500px;
  background-color: rgb(43, 13, 87);
  padding: 25px;
  margin: 10px;
  border-radius: 25px;
  opacity: 0.9;
  box-shadow: 2px 2px 1px 1px rgb(210, 181, 221);
 
}

.principal-list-task h1 {
  font-size: 32px;
}



/*===========RESPONSIVE===============*/




@media (max-width:992px) {

  .image-container {
    width: 60%;
  }
  .principal-list-task{
    width: 60%;
  }
}


